<h1>ようこそ <strong>Bookers</strong> へ！</h1>

 <p>&emsp;<strong>Bookers</strong> では、さまざまな書籍に関するあなたの意見や</p>

 <p>&emsp;印象を共有し交換することができます</p>

 <p>&emsp;<a href="/books" style="color: black;">start</a></p>